{% extends "layouts/layouts.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in RegisterForm %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Registrarse</button>
    </form>
{% endblock content %}
